@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "F1Font";
  src: url(./Formula1-Wide.otf);
}

:root {
  font-family: "F1Font", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --memCardBG: black;
  --memCardBorder: #c0c0c0;
  --memCardHighlight: #ff0000;
}

#bgImage {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.pageLoaded {
  width: 100vw;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.menu {
  background: repeating-linear-gradient(45deg, black 0, black 10%, black 0, transparent 50%),
    repeating-linear-gradient(135deg, black 0%, black 10%, black 0, transparent 50%);
  background-size: 1em 1em;
  background-color: #0b6f81;
  opacity: 1;
}

.backToStartPageButton,
.scores,
.loseButtons {
  box-shadow: 2px 3px 5px rgba(180, 180, 180, 0.9);
}

.backToStartPageButton,
.loseButtons {
  transition: transform 0.3s, box-shadow 0.3s;
}

.backToStartPageButton:hover,
.backToStartPageButton:focus,
.loseButtons:hover,
.loseButtons:focus {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 3px #03cef1, 0px 0px 5px 1px rgba(255, 215, 0, 0.5);
  outline: none;
}

.endScreen {
  position: absolute;
  right: calc(50vw - 153px);
  top: calc(50vh - 153px);
  background-color: white;
  z-index: 9999;
  height: 306px;
  width: 306px;
  border: 3px solid black;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 0px 10px 7px rgba(76, 76, 76, 0.9);
  transition: transform 0.2s linear;
  background-size: contain;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.17, 0.65, 0.32, 1.49);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.loseScreen {
  background-image: url(./f1-lose.png);
  background-position: center + 40px;
}

.winScreen {
  background-image: url(./f1-win.png);
  background-position: center;
}

.gameField {
  transition: transform 0.2s linear;
}

.transformed {
  animation-name: fadeOut;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(1,.04,.87,.59);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.loseText {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.loseText > h4 {
  font-size: 1.5rem;
}

.loseButtons {
  margin: 1rem;
  background-color: white;
  padding: 0.8rem;
  border-radius: 1rem;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
