.outerMemCardWrapper {
  aspect-ratio: 63/88;
  width: 150px;
  padding: 0;
}

.innerMemCardWrapper {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  animation-name: turnCard;
  animation-duration: 0.7s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.outerMemCardWrapper > * {
  pointer-events: none;
}

.outerMemCardWrapper {
  transition-property: transform, box-shadow;
  tra box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.9);nsition-duration: 0.5s, 0.5s;
 
  border-radius: 1rem;
}

.outerMemCardWrapper:hover,
.outerMemCardWrapper:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px 3px #03cef1, 0px 0px 5px 1px rgba(255, 215, 0, 0.5); /* Glowing box shadow with golden color */
  transform: rotateY(-10deg) rotateX(10deg) rotateZ(0.5deg) scale(1.05);
  animation-name: cardToggleAround;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1.75s;
}

.outerMemCardWrapper:not(:hover):not(:focus) {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Reset the box shadow */
}


.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 0;
}

.front {
  transform: rotateY(180deg);
}

.cardBack {
  width: 95%;
  height: 100%;
  align-self: center;
  background-image: url(./output-onlinejpgtools.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(0%) saturate(738%) hue-rotate(128deg) brightness(110%) contrast(101%);
}

.bigLogo {
  background-image: url(./F1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, 75%) rotate(60deg);
}

.outerMemCard {
  background-color: var(--memCardBG);
  aspect-ratio: 63/88;
  padding: 0.2rem;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  font-family: "F1Font";
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

.memCard,
.memCardBack {
  background-color: black;
  color: white;
  border-radius: 1rem;
  background-color: var(--memCardBG);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.memCard {
  border: 3px solid var(--memCardBorder);
  padding: 0.2em 0.2em;
}

.memCardBackPattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #000000, #b40303),
    repeating-radial-gradient(circle at center center, #000000, #000000, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
}

.imgWrapper {
  position: relative;
  display: flex;
  padding: 0;
}

.imgWrapper > img {
  width: 100%;
  aspect-ratio: 1;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background: repeating-linear-gradient(45deg, black 0, black 10%, black 0, transparent 50%),
    repeating-linear-gradient(135deg, black 0%, black 10%, black 0, transparent 50%);
  background-size: 1em 1em;
  background-color: transparent;
  opacity: 1;
  z-index: 1;
}

.imgGradient1 {
  background: linear-gradient(to left top, #03cef1, transparent);
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  border-top-left-radius: 0.5rem;
}

.imgGradient2 {
  background: linear-gradient(to right top, #03cef1, transparent);
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  border-top-right-radius: 0.5rem;
}

.memCard > hr {
  border-color: var(--memCardBorder);
}

.fNameDriver,
.lNameDriver {
  font-weight: 800;
  text-align: start;
}

.fNameDriver {
  font-size: 0.8rem;
}

.lNameDriver {
  color: var(--memCardHighlight);
  font-size: 1rem;
  text-align: end;
  margin-right: 3px;
}

.driversNameBG1,
.driversNameBG2 {
  position: absolute;
  background-color: var(--memCardHighlight);
}

.driversNameBG1 {
  width: 70%;
  height: 5%;
  right: 0;
  bottom: 11.05%;
}

.driversNameBG2 {
  height: 5%;
  width: 40.8%;
  transform: rotate(-30deg);
  left: -6%;
  bottom: 4.3%;
}

.driverNumber {
  margin-top: 11%;
  font-size: 1.2rem;
  align-self: end;
  margin-right: 3px;
}

.f1Logo {
  position: absolute;
  background: url(./F1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 1rem;
  z-index: 2;
}

.backTurn {
  transform: rotateY(180deg);
  animation-name: turnCardBack;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes turnCard {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes turnCardBack {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes cardToggleAround {
  0% {
    transform: rotateY(-10deg) rotateX(10deg) rotateZ(0.5deg) scale(1.05);
  }
  50% {
    transform: rotateY(-10deg) rotateX(10deg) rotateZ(-0.5deg) scale(1.05);
  }
  100% {
    transform: rotateY(-10deg) rotateX(10deg) rotateZ(0.5deg) scale(1.05);
  }
}
