
.outerMemCard {
  background-color: var(--memCardBG);
  aspect-ratio: 63/88;
  padding: 0.2rem;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  font-family: "F1Font";
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

.memCard {
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: 3px solid var(--memCardBorder);
  padding: 0.2em 0.2em;
  background-color: var(--memCardBG);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.imgWrapper {
  position: relative;
  display: flex;
  padding: 0;
}

.imgWrapper > img {
  width: 100%;
  aspect-ratio: 1;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background: repeating-linear-gradient(45deg, black 0, black 10%, black 0, transparent 50%),
    repeating-linear-gradient(135deg, black 0%, black 10%, black 0, transparent 50%);
  background-size: 1em 1em;
  background-color: transparent;
  opacity: 1;
  z-index: 1;
}

.imgGradient1 {
  background: linear-gradient(to left top, #03cef1, transparent);
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  border-top-left-radius: 0.5rem;
}

.imgGradient2 {
  background: linear-gradient(to right top, #03cef1, transparent);
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  border-top-right-radius: 0.5rem;
}

.memCard > hr {
  border-color: var(--memCardBorder);
}

.fNameDriver,
.lNameDriver {
  font-weight: 800;
  text-align: start;
}

.fNameDriver {
  font-size: 0.8rem;
}

.lNameDriver {
  color: var(--memCardHighlight);
  font-size: 1rem;
  text-align: end;
  margin-right: 3px;
}

.driversNameBG1,
.driversNameBG2 {
  position: absolute;
  background-color: var(--memCardHighlight);
}

.driversNameBG1 {
  width: 70%;
  height: 5%;
  right: 0;
  bottom: 11.05%;
}

.driversNameBG2 {
  height: 5%;
  width: 40.8%;
  transform: rotate(-30deg);
  left: -6%;
  bottom: 4.3%;
}

.driverNumber {
  margin-top: 11%;
  font-size: 1.2rem;
  align-self: end;
  margin-right: 3px;
}

.f1Logo {
  position: absolute;
  background: url(./F1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 1rem;
  z-index: 2;
}